UUID={{ ansible_facts.ansible_devices.sdh.partitions.sdh1.uuid }} /mnt/grid/0             xfs     defaults        0 0
UUID={{ ansible_facts.ansible_devices.sdg.partitions.sdg1.uuid }} /mnt/grid/1             xfs     defaults        0 0
UUID={{ ansible_facts.ansible_devices.sdf.partitions.sdf1.uuid }} /mnt/grid/2             xfs     defaults        0 0
UUID={{ ansible_facts.ansible_devices.sde.partitions.sde1.uuid }} /mnt/grid/3             xfs     defaults        0 0
UUID={{ ansible_facts.ansible_devices.sdd.partitions.sdd1.uuid }} /mnt/grid/4             xfs     defaults        0 0
UUID={{ ansible_facts.ansible_devices.sdc.partitions.sdc1.uuid }} /mnt/grid/5             xfs     defaults        0 0
UUID={{ ansible_facts.ansible_devices.sdb.partitions.sdb1.uuid }} /mnt/grid/6             xfs     defaults        0 0
UUID={{ ansible_facts.ansible_devices.sda.partitions.sda1.uuid }} /mnt/grid/7             xfs     defaults        0 0

